h1 {
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
  }
  h2 {
    color: #19181a;
    font-weight: normal;
    font-size: 35px;
    font-family: Cambria;
    text-transform: uppercase;
  }
  h3 {
    color: #c7c5cc;
    font-weight: normal;
    font-size: 30px;
    font-family: Georgia;
    text-transform: lowercase;
  }
  h4 {
    color: #4f4866;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
    text-transform: lowercase;
  }
  h5 {
    color: #656172;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
    text-transform: lowercase;
  }
  h6 {
    color: #747377;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial;
    text-transform: lowercase;
  }


/*Background Modales*/
#myModalBg{
  background-color: #F1F1F2;
  color: black;
}



#headingOne, #headingTwo{

  background: #00416A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
    

}

/* background tablas */

#tabledata,#tablenoorder,#tblseguridad,#tblparameter,#tblperfil,#tblcontacto,#tblproducto,#tblagencia,#tabledatasup,
#tabledatadepa,#tableconorder{

  background-color: #F1F1F2;
  color: black;
}

#tblcatalogo,#tblagestor{

  background-color: #BCBABE;
  color: black;
}

/*botones circulares*/

.btn-circle.btn-sm {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}











