h1 {
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
  }
  h2 {
    color: #19181a;
    font-weight: normal;
    font-size: 35px;
    font-family: Cambria;
    text-transform: uppercase;
  }
  h3 {
    color: #c7c5cc;
    font-weight: normal;
    font-size: 30px;
    font-family: Georgia;
    text-transform: lowercase;
  }
  h4 {
    color: #4f4866;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
    text-transform: lowercase;
  }
  h5 {
    color: #656172;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
    text-transform: lowercase;
  }
  h6 {
    color: #747377;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial;
    text-transform: lowercase;
  }



#myModalBg{
  background-color:  #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

#tblcontacto , #tblproducto, #tblagencia, #tabledata, #tablenoorder, #tblparameter, #tblperfil, #tableconorder{
  background: #00416A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

#tblcatalogo{

  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

}


