h1 {
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
  
  }
  h2 {
    font-weight: normal;
    font-size: 35px;
    font-family: Arial;
    text-align: center;
  }
  h3 {
    font-weight: normal;
    font-size: 30px;
    font-family: Arial;
  
  }
  h4 {
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
   
  }
  h5 {
    color: #656172;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
   
  }
  h6 {
    color: #747377;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial;
    text-transform: lowercase;
  }


/*Background Modales*/
#myModalBg{
  background-color: #F1F1F2;
  color: black;
}



#headingOne, #headingTwo{

  background: #00416A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
    

}

/* background tablas */

#tabledata,#tablenoorder,#tblseguridad,#tblparameter,#tblperfil,#tblcontacto,#tblproducto,#tblagencia,#tabledatasup,
#tabledatadepa,#tableconorder,#tblperfilcalifica,#tblagestor{

  background-color: #F1F1F2;
  color: black;
}

/*estilo formulario*/
.x_content ,.x_title {
  background-color: #F1F1F2;
  color: black;
}

 /*centrar un div class*/


#tblcatalogo{

  background-color: #BCBABE;
  color: black;
}


/*botones circulares*/

.btn-circle.btn-xl {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}



input[type=checkbox] {
  cursor: pointer;
  
}



/*estilos cambiar contrasena*/
.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 30px;
  color: #36A0FF;
}


/*INPUT FILE*/

.wrapper{
  display: flex;
  height: 150px;
  width: 350px;
  flex-direction: column;
  border-radius: 6px;
  border: 3px dashed #36A0FF;
  align-items: center;
  justify-content: center;
  
}



.wrapper :where(i,p){
  color: #36A0FF;
  cursor: pointer;
}

.wrapper :where(i){
  text-align: center;
  justify-content: center;
  font-size: 50px;
}


/*PROGRESS BAR*/


#progressBar{
  height: 40px;
  width: 75%;
  border-radius: 12px;
  background:rgb(233,233,233);  
  border: 2px solid white;
  border: 12px;
  color: rgb(39,39,39); 
}

#progressbar{
  /* background-color: rgb(50, 111, 152); */
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 0%;
  /* animation: load 20s linear 1s;
  animation-fill-mode: forwards; */
  transition: all 0.9s;
  /* transition: all 500ms ease-out; */

  box-shadow: 2px 14px 15px -7px rgba(30, 166, 250, 0.36);
  border-radius: 50px;
 
}












